html {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header nav.navbar {
    background-color: #ffffff;
    position: absolute;
    padding: 10px 15px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
}

div.nav-logo {
    padding: 0px 15px 0px 15px;
    align-self: center;
}

img.logo {
    width: 100px;
    display: inline-block;
}

ul.nav-link,
.list-btn {
    list-style: none;
}

ul.nav-link {
    position: absolute;
    left: 150px;
}

li.link-list,
li.btn-list {
    float: left;
    padding: 0px 15px 0px 15px;
}

.list-button {
    position: absolute;
    right: 10px;
}

li>a {
    text-decoration: none;
    color: black;
}

li>a:hover {
    text-decoration: none;
    color: #111111;
    border-bottom: #000000 2px solid;
}

div.container#slideshow {
    position: absolute;
    top: 100px;
    color: #111111;
}

div.carousel-caption.d-none.d-md-block {
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
}

a.carousel-link,
a.btn-jumbotron {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px 10px;
}

div.cards,
div.cards2 {
    position: absolute;
    top: 600px;
    display: flex;
    align-content: center;
    align-items: center;
}

div.cards2 {
    top: 200vh;
}

div.container#jumbotron {

    position: absolute;
    top: 1000px;

}

#jumbotron>.jumbotron {
    background-image: url(img/jumbotron.webp);
    background-size: cover;
    height: 50vh;
}

div.cards>div.card,
div.cards2>div.card {
    margin: 10px 10px;
}

a.card-link {
    padding: 10px 15px;
}

footer {
    position: absolute;
    bottom: -190vh;
    left: 0;
    right: 0;
    background-color: #eeeeee;
    display: flex;
    padding: 50px;
    justify-content: space-around;
    font-size: 0.7rem;
}

.content>h5 {
    font-size: 0.9rem;
}

footer>.content>ul {
    list-style: none;
}